<?xml version="1.0" encoding="ISO-8859-1"?>   
<!DOCTYPE web-app    
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"    
"http://java.sun.com/dtd/web-app_2_3.dtd">   
<web-app>   
<context-param>
        <param-name>log4jConfigLocation</param-name>
        <param-value>classpath:/log4j.properties</param-value>
    </context-param>
<!-- … -->   
<servlet>   
    <servlet-name>Test</servlet-name>   
    <servlet-class>servlet.test</servlet-class>   
</servlet>   

<servlet-mapping>   
    <servlet-name>Test</servlet-name>   
    <url-pattern>/UrlTest</url-pattern>   
</servlet-mapping>  
<!-- … -->   
</web-app>  